---
import SectionContainer from "@/components/SectionContainer.astro"

const specs = [
	"Tickets de comunicacion y soporte",
	"Viabo Safe",
	"Notificaciones WEB| SMS | MAIL",
	"Movimientos cons histórico",
	"Conciliación eficiente",
	"Accesibilidad app WEB|App Movil",
]
const imagesPath = `${import.meta.env.PUBLIC_FOLDER}images`
---

<SectionContainer class="animate-fade-up -z-14 max-w-[100%] bg-black">
	<div class="mx-auto w-full max-w-screen-lg p-10 md:px-0 md:py-16">
		<div class="mb-16 text-center md:col-span-2">
			<h2 class="text-4xl font-bold text-primary">Agilidad Omnicanal</h2>
		</div>
		<div class="grid grid-cols-1 font-medium text-white md:grid-cols-2 md:text-2xl">
			<ul>
				{
					specs.map((item) => (
						<li class="flex items-center gap-4 border-b-2 border-white border-opacity-25 py-4 hover:animate-shake hover:animate-delay-100 hover:animate-ease-in-out">
							<span class="text-blue-500">
								<img loading="lazy" src={`${imagesPath}/check_icon.svg`} alt="icon" class="w-10" />
							</span>
							<span>{item}</span>
						</li>
					))
				}
			</ul>
			<div>
				<span>
					<img loading="lazy" src={`${imagesPath}/agility.svg`} alt="agilidad" />
				</span>
			</div>
		</div>
	</div>
</SectionContainer>
