---
import SectionContainer from "@/components/SectionContainer.astro"
import AccordionServices from "@/components/services/AccordionServices.jsx"
---

<SectionContainer id="servicios" class="animate-fade-up relative max-w-[100%] bg-[#2b216a]">
	<div class="mx-auto h-full w-full max-w-screen-lg p-10 md:px-0 md:py-16">
		<AccordionServices client:visible />
	</div>
</SectionContainer>
