<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .logo{
            width: 350px;  /* Ancho deseado */
            height: auto;
        }
    </style>
</head>
<body style="margin-bottom: 100px;">
<div style="text-align: center; padding-bottom: 20px;">
    <img class="logo" src="https://viabo.com/production_images/robeca/robeca_logo.png" alt="logo central pay">
</div>
</body>
</html>
