---
import Layout from "@/layouts/Layout.astro"
import AgilitySection from "@/sections/AgilitySection.astro"
import AllInOneSection from "@/sections/AllInOneSection.astro"
import MainSection from "@/sections/MainSection.astro"
import ServicesSection from "@/sections/ServicesSection.astro"
---

<Layout title="Viabo - Sistema de Soluciones Tecnologicas de Pago para Comercios y Empresas">
	<main class="flex flex-col">
		<MainSection />
		<AgilitySection />
		<AllInOneSection />
		<ServicesSection />
	</main>
</Layout>
