<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Notificación de Acceso SET</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 10px;
        }

        body {
            font-family: 'Poppins', 'Roboto', serif;
        }

        .logo {
            height: 27px;
            width: auto;
            margin-right: 20px;
            margin-bottom: 25px;
        }
    </style>
</head>

<body style="
            font-size: 12px;
            line-height: 1.5;
            color:black;">
<div style="margin: 0 auto;
            width: 500px;
            padding: 30px;
            color:black;
            border:1px solid;
            border-radius:16px;
            border-color:#02539e;
            height:600px;
            position:relative;
            background: linear-gradient(0deg, rgb(2, 83, 158) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);">
    <table>
        <tr>
            <td>
                <img src="https://viabo.com/production_images/set/set_logo.png" alt="SET logo"
                     class="logo">
            </td>
        </tr>
        <tr>
            <td>
                <h1 style="color: #02539e">¡Bienvenido a SET!</h1>
                <p style="	font-size: 20px;
                            font-weight:bold;
                            text-align: center;text-transform:capitalize;color:black">{{ name }} </p>
                <p style="
                            font-size: 12px;
                            font-weight:bold;
                            text-align: left; color:black"> ¡Tu cuenta ha sido creada correctamente! <br />Inicia sesión
                    para que tu acceso sea mas rápido </p>
                <p style="
                            font-size: 12px;
                            font-weight:bold;
                            text-align: left"> ¿Estás listo para el cambio? </p>
            </td>
            <td>
                <img style="width:200px" alt="viabo-success-register"
                     src="https://viabo.com/production_images/success-2x.png" />
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td style="border-radius:8px;font-size: 14px;font-weight: bold;text-align: left;color: black;"> Usuario :
                <span style="color:#844BFF">{{ userEmail }}</span>
            </td>
        </tr>
        <tr>
            <td style="border-radius:8px;font-size: 14px;font-weight: bold;text-align: left;color: black;"> Password :
                <span style="color:#844BFF">{{ password }}</span>
            </td>
        </tr>
    </table>
    <a href="{{ host }}"
       style="display: inline-block; padding: 20px 20px; background-color: #5C34F5; color: #ffffff;font-size:14px;margin-top:24px; text-decoration: none; border-radius: 8px;width:200px; border: none;text-align:center">Iniciar Sesión</a>
    <div style="position:absolute;bottom:0;width:500px">
        <hr style="color:black">
        
    </div>
</div>
</body>

</html>
