<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>SET | Soluciones Electronicas Transaccionales</title>
		<meta content="SET es una empresa con experiencia en la emisión y administración de soluciones transaccionales en varios estados de la república mexicana" name="description"/>
		<meta content="viabo,tarjeta de credito,viabo pay,viabo card,visa,dashboard,admin,empresa,sistema de pago,SET" name="keywords"/>
		<meta content="SET | Viabo" name="author"/>
		<meta property="og:title" content="Viabo"/>
		<meta property="og:type" content="Website"/>
		<meta property="og:url" content="https://viabo.com"/>
		<meta property="og:description" content="Soluciones Electronicas Transaccionales"/>
		<meta property="og:image" content="https://viabo.com/production_images/set/set_logo.png"/>

		<meta name="twitter:card" content="viabo-pay-image"/>
		<meta name="twitter:description" content="Soluciones Electronicas Transaccionales"/>
		<meta name="twitter:image" content="https://viabo.com/production_images/set/set_logo.png"/>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/landing-pages/set/css/set.css">
	</head>

	<body>
		<nav class="container-fluid px-5 py-4 fixed-top bg-white">
			<div class="container">
				<div class="d-flex w-100 align-items-center">
					<div class="flex-fill text-start">
						<img class="menu-logo" src="/landing-pages/set/images/set_logo.webp" alt="Logo SET Transaccionales">
					</div>
					<div class="flex-fill text-end">
						<strong>Que hacemos</strong>
						Portafolio
					</div>
				</div>
			</div>
		</nav>

		<section class="container-fluid p-0 m-0 bg-green-circles-image mt-5 pt-2">
			<div class="container mt-5 mb-1">
				<div class="row">
					<div class="col-12 col-md-5 col-lg-4">
						<div class="d-flex flex-column">
							<div class="mt-5 mb-2">
								<h2 class="fs-1 animate-text-demo">¡Tu propia tarjeta de crédito!</h2>
							</div>
							<div class="my-2">
								<p class="fs-4 fw-medium">Para tus cuentahabientes.
								</p>
							</div>
							<div>
								<div class="row">
									<div class="col-1 col-md-2">
										<img src="/landing-pages/set/images/check-icon.webp" class="check-icon" alt="line">
									</div>
									<div class="col-11 col-md-10">
										<p>Transacciones blindadas</p>
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-1 col-md-2">
										<img src="/landing-pages/set/images/check-icon.webp" class="check-icon" alt="line">
									</div>
									<div class="col-11 col-md-10">
										<p>Fondeo 24/7</p>
										<hr>
									</div>
								</div>
								<div class="row">
									<div class="col-1 col-md-2">
										<img src="/landing-pages/set/images/check-icon.webp" class="check-icon" alt="line">
									</div>
									<div class="col-11 col-md-10">
										<p>Acciones operativas del día-día agilizadas.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-7 col-lg-8 text-center text-md-start text-lg-center credigomx">
						<img src="/landing-pages/set/images/credigomx.webp" alt="CredigoMX"/>
					</div>
				</div>
			</div>
		</section>

		<section class="container mt-5 mb-0">
			<div class="row my-0">
				<div class="col-12 col-md-6 mt-3">
					<div class="d-flex flex-column">
						<div class="my-2">
							<h2 class="fs-1">Mejoramos la experiencia operativa.</h2>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6 my-3">
					<div class="row my-2">
						<div class="col-10">
							<p class="fs-5">SET es una empresa con experiencia en la emisión y administración de soluciones
																																																																																																																																																																																																																																																																																																																																																																								                            transaccionales en varios estados de la república mexicana.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<p>Monederos electrónicos.</p>
							<hr>
						</div>
						<div class="col-12">
							<p>Tarjetas de compensaciones.</p>
							<hr>
						</div>
						<div class="col-12">
							<p>Tarjetas multiservicios y viáticos.</p>
							<hr>
						</div>
						<div class="col-12">
							<p>Transporte público.</p>
							<hr>
						</div>
					</div>
					<div class="row my-2">
						<div class="col-10">
							<p class="fs-5">SET cuenta con permisos de emisor bancario de tarjetas MasterCard y Carnet, en
																																																																																																																																																																																																																																																																																																																																																																								                            modalidad abierta y cerrada (whitelabel).</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="container-fluid px-0 bg-black pb-3">
			<div class="container py-5">
				<div class="row">
					<div class="col-12 text-center">
						<h2 class="fs-2 text-white">Tan ágil como tu negocio:</h2>
					</div>
				</div>
				<div class="d-flex flex-row flex-wrap justify-content-center align-items-center my-3">
					<div class="text-white fw-medium fs-5 px-3">DATA TRACKING</div>
					<div class="text-center green-text fs-3 px-3">|</div>
					<div class="text-white fw-medium fs-5 px-3">PROGRAMAS DE LEALTAD</div>
					<div class="text-center green-text fs-3 px-3">|</div>
					<div class="text-white fw-medium fs-5 px-3">INTEGRADOR BANCARIO</div>
				</div>
				<div class="d-flex flex-row justify-content-center align-items-center my-4">
					<div class="text-white fw-medium fs-5 px-3">SISTEMA DE PRÉSTAMOS POR NÓMINA</div>
				</div>
			</div>
		</section>

		<section class="container-fluid px-0 pb-3">
			<div class="container py-5">
				<div class="row">
					<div class="col-12 text-center">
						<h2 class="fs-2">Conoce nuestro portafolio</h2>
					</div>
				</div>
				<div class="portfolio-container ">

					{% for i in 1..10 %}
						<div class="portfolio-item">
							<img src="/landing-pages/set/images/set_portfolio_{{ i }}.webp" alt="SET Portafolio" class="img-fluid">
							<hr class="portfolio-line">
						</div>
					{% endfor %}


				</div>
			</div>
		</section>

		{% include('/landing-pages/set/form.contact.html.twig')%}

		<section class="container-fluid px-0 bg-black py-5">
			<div class="container">
				<div class="row">
					<div class="col text-center">
						<img src="/landing-pages/set/images/set_logo_white.webp" alt="Logo SET Transaccionales"/>
					</div>
					<div class="col text-center">
						<p class="text-white">Con una profunda comprensión del ecosistema, acompañamos y asesoramos tus proyectos para ofrecerte la mejor solución.</p>
					</div>
					<div class="col text-center">
						<p class="text-white">T.
							<a class="text-white" href="tel:+528183154268">818 315 4268</a>
						</p>
						<p class="text-white">E.
							<a class="text-white" href="mailto:soporte@set.lat">soporte@set.lat</a>
						</p>
						<p class="text-white">Horario: 10am-6pm</p>
					</div>
					<div class="col d-flex flex-column text-center">
						<div>
							<img src="/landing-pages/set/images/google_play_store.webp" alt="Google Play"/>
						</div>
						<div>
							<img src="/landing-pages/set/images/app_store.webp" alt="Apple Store"/>
						</div>
					</div>
				</div>
			</div>
		</section>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
		<script src="{{ asset('/landing-pages/set/js/set.js') }}?{{ random() }}"></script>


	</body>
</html>
